/* Task Box */

article {
    padding: 1rem;
    color: #25113d;
    background-color: #b1d1f3;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

time {
    color: #3c2c50;
}

.actions {
    text-align: right;
    margin: 0;
}

/* Mastered Button */

.actions button {
    font: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    background-color: #263248;
    color: #b3c3d1;
}

.actions button:hover,
.actions button:active {
    background-color: #405975;
    color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}


/* Responsive */
@media (max-width: 500px) {

    article {
        max-width: 26rem;
    }

    .actions {
        text-align: center;
    }

    .actions button {
        font-size: 0.8rem;
        padding: 0.4rem 1.2rem;
    }
}